.ball{
    height: 50px;
    width: 50px;
    background-color: rgba(192, 14, 14, 0.616);
    border-radius: 75%;
    position: relative;
    left: 405px;
    transition: 4s ease-in-out .2s;
}
.field:hover .ball{
   
    transform: translate(800px, -200px);
}
.bat{
    transition: transform 0.5s ease-in-out;
}
.bat:hover{
    transform: rotate(-60deg);
    transform-origin: 100% 0%;
}